
<link rel="stylesheet" type="text/css" href="{{urlPrefix}}/xtraplatform-openapi/assets/swagger-ui-5.4.2/swagger-ui.css" >
<script src="{{urlPrefix}}/xtraplatform-openapi/assets/swagger-ui-5.4.2/swagger-ui-bundle.js" charset="UTF-8"> </script>

<script type="text/javascript">
  const HideInfoUrlPartsPlugin = () => {
    return {
      wrapComponents: {
        InfoUrl: () => () => null,
        InfoBasePath: () => () => null,
      }
    }
  }

  const ui = SwaggerUIBundle(Object.assign({
    oauth2RedirectUrl: '{{baseUri}}{{urlPrefix}}/xtraplatform-openapi/assets/swagger-ui-5.4.2/oauth2-redirect.html',
    presets: [
      SwaggerUIBundle.presets.apis,
    ],
    plugins: [
      HideInfoUrlPartsPlugin,
    ],
    layout: "BaseLayout",
  }, globalThis._swaggerUiCfg))

  if (globalThis._swaggerUiAuth) {
    ui.initOAuth(Object.assign({
      //scopeSeparator: " ",
      //scopes: "openid profile",
      //additionalQueryStringParams: {test: "hello"},
      //useBasicAuthenticationWithAccessCodeGrant: true,
      usePkceWithAuthorizationCodeGrant: true
    }, globalThis._swaggerUiAuth))
  }
</script>