{{> header}}

<h3>Folder: /</h3>
<h4>Services:</h4>
<ul>
{{#data}}
<li><a href="{{path}}{{browseUrl}}">{{id}}</a>&nbsp;({{type}})</li>
{{/data}}
{{^data}}
<i>None</i>
{{/data}}
</ul>

{{> footer}}