<html>
<head>
	<title>XtraProxy REST Browser</title>
	<style lang="text/css">
		body {
			font-family: sans-serif;
			font-size: 0.9em;
		}
		a {
			text-decoration: none;
		}
	</style>
</head>
<body>
	<h4>XtraProxy Services Directory</h4>
	<hr/>
	<a href="{{path}}{{query}}f=json" style="font-size: 0.8em;">JSON</a>
