body {
    background: none repeat scroll 0 0 #EFEFEF;
    color: #404040;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    border: 0 none;
    margin: 0;
    padding: 0;
}

/* bug in dojo? input hat die class .dijitReset, dadurch wird inherit gesetzt
   bei textarea fehlt diese class
*/
textarea {
    font: inherit;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#container {
    display: block;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 25px;
    border: 0 none;

}

#header {
    margin: 0;
    border: 0 none;
    font: inherit;
    vertical-align: baseline;

}

#content {
    display: block;
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 6px 6px 6px 6px;
    clear: both;
    margin: 20px auto;
    padding: 20px 20px;
    position: relative;
}

#footer {
    display: block;
    color: #333333;
    font-size: 11px;
    line-height: 1.5em;
    clear: both;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 25px;
}

.top-menu {
    float: right;
    margin: 17px 0;
}
ul {
    margin-left: 1.5em;
    list-style-type: disc;
}

#logo {
    float: left;
    margin: 0;
    padding: 12px 0px;
}

a {
    color: #0066CC;
    font-weight: 400;
    text-decoration: none;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.top-menu li {
    display: inline;
    list-style-type: none;
}

.top-menu > li:first-child > a {
    border-left: medium none;
}
.top-menu li a {
    border-left: 1px solid #CCCCCC;
    color: #333333;
    font-size: 11px;
    padding: 0 4px 0 8px;
}

.menu:after, .menu ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearfix:after, #container:after, .widget-wrapper:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
}

.menu, .menu ul {
    min-height: 0;
}
.menu, .menu ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu {
    background-color: #585858;
    background-image: -moz-linear-gradient(center top , #585858, #3D3D3D);
    clear: both;
    margin: 0 auto;
}

#footer-wrapper {
    margin: 0;
    padding: 0;
}

#copyright {
    text-align: left;
    float: left;
    margin-bottom: 2.12766%;
    padding-top: 0;
    width: 31.9149%;
    display: inline;
    margin-right: 2.12766%;
}

#right-footer {
    text-align: right;
    float: right;
    margin-bottom: 2.12766%;
    padding-top: 0;
    width: 60%;
    display: inline;
    margin-left: 2.12766%;
}

#right-footer a {
    text-decoration: none;
}

#footer a {
    color: #333333;
    font-weight: 400;
}

.menu li {
    border: 0 none;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;
}

.menu li span {
    border-left: 1px solid #585858;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    margin: 0;
    padding: 0 3em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px #242424;
}

.menu li:hover span{
    background-color: #808080;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#363636));
    background-image: -webkit-linear-gradient(top, #808080, #363636);
    background-image: -moz-linear-gradient(top, #808080, #363636);
    background-image: -ms-linear-gradient(top, #808080, #363636);
    background-image: -o-linear-gradient(top, #808080, #363636);
    background-image: linear-gradient(top, #808080, #363636);
}

.menu li.selected span {
    background-color: #343434;
}

#maincontent {
    float: left;
    width: 690px;
    padding-top: 0;
    min-height: 200px;
}

.maincontent {
    float: left;
    width: 690px;
    padding-top: 0;
    min-height: 200px;
}

#sidebar {
    width: 200px;
}

.left {
    float: left;
    margin-right: 20px;
}

.right {
    float: right;
    margin-left: 20px;
}

.breadcrumb-list {
    font-size: 12px;
    padding: 40px 0 0;
}

h1 {
    margin: 1em 0 0.5em;
}
h1 {
    color: #404040;
    font-size: 2em;
}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: 700;
    line-height: 1em;
    word-wrap: break-word;
}

#maincontent ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.serviceControlWidget {

}

.serviceControlWidget th {
    border-bottom: 2px solid #404040;
}
.serviceControlWidget th, .serviceControlWidget td{
    text-align: left;
    font-size: 0.9em;
}

.widget-wrapper:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
}

.widget-wrapper {
    background-color: #F9F9F9;
    border: 1px solid #D6D6D6;
    border-radius: 6px 6px 6px 6px;
    font-size: 0.9em;
    margin: 10px 0px;
    padding: 10px;
}

.serviceControlWidget td.status  {
    border-left: 1px solid #D6D6D6;
    text-align: center;
    width: 10%;
    /*color: #D6D6D6;*/
} 

.serviceControlWidget a {
    color: #404040;
    text-decoration: none;
} 

.serviceControlWidget td.status.STOPPED a {
    color: #D6D6D6;
} 

.serviceControlWidget td.status.STOPPED a:hover {
    color: #404040;
} 

#addServiceDialog .closeText{
    font-size: 1.1em;
} 

.dijitDialogTitle {
    font-size: 1.1em !important;
} 

.dijitDialogUnderlay { 
    background:#fff !important;        
}

form {
    margin: 0;
    padding: 0;
}

form ul {
    list-style-type: none;
    display: table;
}

form ul li {
    display: table-row;
}

form ul li label,input {
    display: table-cell;
}

form ul li label {
    padding-right: 10px;
}

ul li.empty {
    height: 5px;
}

form ul li .dijitTextBox.url {
    width: 30em;
}

.dbootstrap .inverse .dijitMenuItem {
    font-size: 0.9em;
}

.dbootstrap .inverse .dijitMenuItemHover {
    background: #333333 !important;
    color: #fff !important;
}

.dbootstrap .inverse .dijitMenuItemSelected {
    background: transparent;
    color: #333333;
}

.dbootstrap .inverse td.dijitMenuItemLabel {
    padding-bottom: 3px;
    padding-top: 3px;
}

.dbootstrap .alert {
    margin: 10px 0px !important;
}

.alert ul {
    list-style-type:disc !important;
    margin: 10px !important;
    padding: 10px !important;
}

.alert ul li {
    margin-bottom: 5px !important;
}

ul.sideBarMenu {
    list-style-type: none;
    margin: 0px;
    width: 100%;
    font-size: 0.9em;
}

ul.sideBarMenu li {
    text-align: left;
    padding: 5px 0px;
    margin: 5px 0px;
    cursor: pointer;
    display: block;
}

ul.sideBarMenu li span{
    color: #404040;
    margin-left: 10px;
}

ul.sideBarMenu li:hover {
    background-image: none;
    box-shadow: none;
    opacity: 0.65;
}

ul.sideBarMenu li.selected {
    background-image: -moz-linear-gradient(center top , #444444 0%, #222222 100%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    opacity: 1;
}

ul.sideBarMenu li:hover,ul.sideBarMenu li.selected {
    background-color: #222222;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: block;
    padding: 4px 0px !important;
}

ul.sideBarMenu li:hover span {
    color: #FFFFFF;
}

ul.sideBarMenu li.selected span {
    color: #FFFFFF;
    background-position: 0 -15px !important;
    transition: background-position 0.1s linear 0s !important;
}

.dbootstrap .expandableListForm .dijitTitlePane {
    border: 0px solid;
}

.dbootstrap .expandableListForm .dijitTitlePaneTitle {
    color: #404040;
    font-weight: bold;
}

.settingsModulesWidget td {
    padding: 5px;
    font-size: 0.8em;
    border-top: 1px solid #404040;
}

.settingsModulesWidget th {
    padding: 5px;
    font-size: 0.8em;
}

.dgrid {
    height: 65% !important;
}

.dgrid-cell {
    white-space: pre-wrap;
    font-size: small;
}

.dgrid .dgrid-scroller {
    position: relative;
    overflow: auto;
}
.dgrid-column-level {
    width: 10%;
}

.dgrid-column-time {
    width: 20%;
    white-space: nowrap;;
}
.dgrid-column-message {
    white-space: nowrap;;
}
.dgrid-cell-padding {
    padding: 3px 5px !important;
}
.dgrid-content .dgrid-cell {
    border: none !important;
}
.dgrid-row-odd {
    background: #f5f5f5;
}

table.dijitSelect {
    width: auto;
    border-collapse: separate;
}

.dojoxEllipsis,
.dojoxEllipsisShown {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}
.dojoxEllipsis window {
    width:100%;
    -moz-user-focus:normal;
    -moz-user-select:text;
}
.dojoxEllipsis description{
    -moz-user-focus:normal;
    -moz-user-select:text;
}
.dojoxEllipsisIFrame{
    white-space: normal;
    border: none;
    width: 100%;
    display: block;
    height: 1px;
    margin-top: -1px;
    clear: both;
}
.dojoxEllipsisContainer{
    width: 100%;
}
.dojoxEllipsisShown:after{
    content: "\2026"
}

.dgrid-cell {
    white-space: pre-wrap;
    font-size: small;
}

/*drag and drop*/
.dojoDndItem {
	padding:3px;
}

.dojoDndItemOver {
	background-color: #ededed;
	cursor:pointer;
}

.dojoDndItemSelected {
	background-color: #aaa; color: #444;
}

.dojoDndItemAnchor {
	background-color: #aaa; color: black;
}

.dojoDndItemOver .dojoDndItemSelected {
	background-color: #ededed;
}

.dojoDndItemOver .dojoDndItemAnchor {
	background-color: #ededed;
}

.dojoDndItemBefore, .dojoDndItemBefore > td {
	border-top: 2px solid #369;
}

.dojoDndItemAfter, .dojoDndItemAfter > td {
	border-bottom: 2px solid #369;
}

.dojoDndAvatar {
	border:2px solid #ccc;
        max-width: 200px;
}

.dojoDndAvatarHeader {
	background-color: #aaa;
}

.dojoDndAvatarItem {
	background-color: #fff;
	border-bottom:1px solid #666;
}

.dojoDndAvatarItem .itemText {
	font-size: 120%;
}

